@model IEnumerable<Restaurant>
<div class="d-flex justify-content-end ">
        <a asp-area="Admin" asp-controller="Restaurants" asp-action="Upsert" class="btn btn-primary">Dodaj</a>
</div>
<table class="table">
    <tr>
        <th>Nazwa</th>
        <th>Adres</th>
        <th>Godzina Otwarcia</th>
        <th>Godzina Zamkniecia</th>
    </tr>
    @foreach(var restaurant in Model)
    {
        <tr>
            <td>@restaurant.Name</td>
            <td>@restaurant.Address</td>
            <td>@restaurant.OpeningHour</td>
            <td>@restaurant.ClosingHour</td>

        </tr>
    }
</table>